In [2]:
lst = []
print(type(lst))

<class 'list'>

In [10]:
name = ["krish","Jack",1,2,3,4,5]
print(name,type(name))

['krish', 'Jack', 1, 2, 3, 4, 5] <class 'list'>

In [12]:
mixed_list = [1,"Hello"]
print(type(mixed_list))
print(mixed_list)

<class 'list'>
[1, 'Hello']

In [1]:
#accessing ite
fruits = ["banana","apple","orange"]
fruits[0]
fruits[2]
print(fruits[1],type(fruits))

apple <class 'list'>

In [19]:
print(fruits[1:])

['apple', 'orange']

In [20]:
##modifying list element
fruits[1] = "watermelon"
print(fruits)

['banana', 'watermelon', 'orange']

In [3]:
numbers = [1,2,3,4,5,6]
numbers[1]
numbers[0] = 0
print(numbers)

[0, 2, 3, 4, 5, 6]

In [38]:
#list method
fruits = ["banana","apple","orange"]
fruits.append("kiwi")
fruits
fruits.insert(1,"grapes")
fruits.insert(1,"grapes")
fruits
#remove
fruits.remove("grapes")
fruits

['banana', 'grapes', 'apple', 'orange', 'kiwi']

In [ ]:
#sort ---  asc order
list = [1,5,3,5,3,2,4]
list.sort()
list

#desc order
list.sort(reverse=True)
list

[5, 5, 4, 3, 3, 2, 1]

In [43]:
list.clear()
list

[]

In [51]:
#slicing list
numbers = [1,2,3,4,5,6,7,8,9]
print(numbers)
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])
print(numbers[::3])

for index,num in enumerate(numbers):
    print(index,num)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5]
[6, 7, 8, 9]
[1, 3, 5, 7, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 4, 7]
0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9

In [46]:
numbers[::-2]

[9, 7, 5, 3, 1]

In [50]:
#iterating over list
idx =0
for num in numbers:
    print(num,idx)
    idx += 1

1 0
2 1
3 2
4 3
5 4
6 5
7 6
8 7
9 8

In [58]:
lst = []
for x in range(10):
    lst.append(x**2)
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [59]:
[ x ** 2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

##### list comprehension
basic syntax [expression for item in iterable ]


with conditional logic   [expression for item in iterable if condition]

nested list comprehension [expression for item in iterable 1 for item2 in iterable2]

In [60]:
#basic list comprehension

square = [num**2 for num in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [62]:
lst = []

for i in range(10):
    if i%2 ==0:
        lst.append(i)
print(lst)

[0, 2, 4, 6, 8]

In [63]:
even_number = [num for num in range(10) if num%2 == 0]
print(even_number)

[0, 2, 4, 6, 8]

In [66]:
## nested list comprehension

lst1 = [1,2,3,4]
lst2 = ['a','b','c','d']      

pair = [[i,j] for i in lst1 for j in lst2]
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [71]:
list = ["tejas","krish","chavan"]

lenghts = [len(list) for list in list]
print(lenghts)

[5, 5, 6]

In [7]:
#creating a tuple ()

empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

empty_tuple = list()
empty_tuple
empty_tuple.append("tejas")
empty_tuple

()
<class 'tuple'>

['tejas']

In [ ]:
#mixed tuple
tup1 = (1,'tejas',3.4,True)
tup1

[1, 'tejas', 3.4, True]

In [ ]:
number = (1,2,4,5,6,7)
print(number[1:5])

[2, 4, 5, 6]

In [13]:
print(number[::])

[1, 2, 4, 5, 6, 7]

In [16]:
new_number = tuple(x * 3 for x in number)
print(new_number)

(3, 6, 12, 15, 18, 21)

In [18]:
#tuple methods
#count
tuple = ()

tuple += (42,"tejas",22,444,)
print(tuple)

(42, 'tejas', 22, 444)

In [19]:
num = (34,"tejaa",32,34,3.4)
num.count(34)

2

In [21]:
#index 
num.index(3.4)

4

In [22]:
#packed and unpacked

packed_tuple = 3,"tejas",4.3
print(packed_tuple)

(3, 'tejas', 4.3)

In [23]:
a,b,c = packed_tuple
print(a)
print(b)
print(c)

3
tejas
4.3

In [24]:
#unpacking with stars
numb = [1,2,3,4,5,6]
first,*middle,last = numb
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [25]:
#nested tuple

lst = ((1,3,4,4),(2,32,32,43),(3,3,2,3))
lst[0]

(1, 3, 4, 4)

In [27]:
#iterating over tuple

for sub_tuple in lst:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 3 4 4
2 32 32 43
3 3 2 3

In [1]:
codes = ["ATG", "CGA", "STOP", "GTC"]

for code in codes:
    if code == "STOP":
        break
    print(code)

ATG
CGA

In [ ]:
sequence = "ATGCAT"
sequence = sequence.upper()

at_count = sequence.count('A') + sequence.count('T')
at_content = (at_count / len(sequence)) * 100

print(at_content)

66.66666666666666

In [3]:
sequences = ["ATGC", "CGTA", "TTAA"]

complemented = list(map(lambda seq: ''.join(map(lambda base: {'A':'T','T':'A','G':'C','C':'G'}[base], seq)), sequences))

print(complemented)

['TACG', 'GCAT', 'AATT']

In [3]:
from module.package.maths import addition
addition(1,23)

24