sets

In [3]:
set = {23,232,222,22}
set2 = {43,21,53,544}
set.union(set2)

{21, 22, 23, 43, 53, 222, 232, 544}

In [1]:
my_set ={1,2,3,4,5}
print(type(my_set))

<class 'set'>

In [3]:
empty_set=set()
print(type(empty_set))

<class 'set'>

In [5]:
set = set([1,2,3,4,5,6])
print(type(set))

<class 'set'>

In [20]:
#basic set operation

#adding and removing element

my_set.add(4) 
print(my_set)

my_set.add(6)
print(my_set)

{1, 2, 3, 4}
{1, 2, 3, 4, 6}

In [21]:
my_set.remove(6)
print(my_set)

{1, 2, 3, 4}

In [22]:
#pop method 
remove_elemement = my_set.pop()
print(remove_elemement)
print(my_set)

1
{2, 3, 4}

In [23]:
#clear all the element
my_set.clear()
print(my_set)

set()

In [2]:
my_set = {1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [5]:
## mathematical opearation
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [7]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

intersection = set1.intersection(set2)
print(intersection)


set1.intersection_update(set2)
print(set1)

#difference
diff = set1.difference(set2)
print(diff)

{4, 5, 6}
{4, 5, 6}
set()

In [10]:
set_1 = {2,4,6,8,10}
set_2 = {6,8,10,12}

diff = set_1.difference(set_2)
print(diff)

diff = set_2.difference(set_1)
print(diff)

{2, 4}
{12}

In [12]:
#symmmetric difference
set_1.symmetric_difference(set_2)

{2, 4, 12}

In [16]:
#sets method
set1 = {1,2,3}
set2 = {3,4,5}
print(set1.issubset(set2))
 

set1 = {1,2,3,4,5,6}
set2 = {5,6,}
print(set1.issubset(set2))

print(set1.issuperset(set2))

False
False
True

In [18]:
lst = {1,2,3,3,4,4,5}
set(lst)

{1, 2, 3, 4, 5}

In [19]:
#counting unique words in text

text = "in this tutorial we are discussing about sets"
words = text.split()

#convert list of words to set to get unique words
unique_words = set(words)
print(unique_words)
print(len(unique_words))

{'discussing', 'this', 'tutorial', 'in', 'about', 'sets', 'we', 'are'}
8

In [2]:
#dictionaries
#creating dictionaries
empty_dic = {}
print(type(empty_dic))

empty_dic = dict()
print(type(empty_dic))

<class 'dict'>
<class 'dict'>

In [3]:
student = {"name":"tejas","age":15,"grade":24}
print(student,type(student))

{'name': 'tejas', 'age': 15, 'grade': 24} <class 'dict'>

In [ ]:
#accessing dictionaries element  
student = {"name":"tejas","age":15,"grade":'A'}
print(student["grade"])

print(student.get("grade"))
print(student.get("last_name","not available"))

A

In [9]:
#modifying dictionary element
#dictionary are mutable , so you can add , update ,delet elemnts
print(student)

student["age"] = 22
print(student)

{'name': 'tejas', 'age': 15, 'grade': 'A'}
{'name': 'tejas', 'age': 22, 'grade': 'A'}

In [10]:
#add 
student["address"] = "India"
print(student)

{'name': 'tejas', 'age': 22, 'grade': 'A', 'address': 'India'}

In [ ]:
del student["address"] 
print(student)

{'name': 'tejas', 'age': 22, 'grade': 'A'}

In [16]:
#dictionary methods
#keys

keys = student.keys()
print(keys)

#values

values = student.values()
print(values)

#get key- value pairs
items = student.items()
print(items)

dict_keys(['name', 'age', 'grade'])
dict_values(['tejas', 22, 'A'])
dict_items([('name', 'tejas'), ('age', 22), ('grade', 'A')])

In [17]:
#shallow copy  

student_copy1 = student.copy()
print(student)
print(student_copy1)

{'name': 'tejas', 'age': 22, 'grade': 'A'}
{'name': 'tejas', 'age': 22, 'grade': 'A'}

In [19]:
student["name"] = "tejas1"
print(student)
print(student_copy1)

{'name': 'tejas1', 'age': 22, 'grade': 'A'}
{'name': 'tejas', 'age': 22, 'grade': 'A'}

In [21]:
#iterating over dictionaries
#use loop
#iterate over keys
for key in student.keys():
    print(key)

#iterate over values
for value in student.values():
    print(value)

name
age
grade
tejas1
22
A

In [28]:
#iterating over key and values
print(student)

for key,val in student.items():
    print(f"{key}:{val}")

{'name': 'tejas1', 'age': 22, 'grade': 'A'}
name:tejas1
age:22
grade:A

In [30]:
mydic = {"name of student":"tejas",
         "class":"msc",
         "subjects" :["genomics","chemoinformatic","structural bioinformatics"],
        "PRN": 2024}
print(mydic)

for key,value in mydic.items():
    print(f"{key}:{value}")

{'name of student': 'tejas', 'class': 'msc', 'subjects': ['genomics', 'chemoinformatic', 'structural bioinformatics'], 'PRN': 2024}
name of student:tejas
class:msc
subjects:['genomics', 'chemoinformatic', 'structural bioinformatics']
PRN:2024

In [35]:
#nested dictionary
my_dic = {
    "student1":{"name":"krish","age":22,"address":"India"},
    "student2":{"name":"radeep","age":25,"address":"america"}
}
print(my_dic)

{'student1': {'name': 'krish', 'age': 22, 'address': 'India'}, 'student2': {'name': 'radeep', 'age': 25, 'address': 'america'}}

In [ ]:
##access nested dictionary
print(my_dic["student2"]["name"])
print(my_dic["student2"]["age"])

radeep
25

In [38]:
for student_id, student_info in my_dic.items():
    print(f"{student_id}:{student_info}")
    for key,value in student_info.items():
        print(f"{key}:{value}")

student1:{'name': 'krish', 'age': 22, 'address': 'India'}
name:krish
age:22
address:India
student2:{'name': 'radeep', 'age': 25, 'address': 'america'}
name:radeep
age:25
address:america

In [39]:
#list comprehension
squares = {x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
even = {x:x**2 for x in range(10) if x%2 ==0}
print(even)

hello

In [41]:
#practical quetion
#use a dictionary to count the frequency of element in list

numbers = [1,2,2,3,3,4,4,4,4,5,5,5,6]
frequency = {}

for number in numbers:
    if number in frequency:
        frequency[number]+=1

    else:
        frequency[number]=1
print(frequency)

{1: 1, 2: 2, 3: 2, 4: 4, 5: 3, 6: 1}

In [43]:
#merge two dictionary into one

dict1 = {"a":1,"b":2}
dict2 = {"b":3,"c":4}
merged_dict = {**dict1,**dict2}
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}

In [4]:
#real world usecase of lists
#manage a to do list

to_do_list = ["Buy Groceries","clean the house","pay bill"]

#adding to task
to_do_list.append("Schedule meeting")
to_do_list.append("Go for run")

##removing a completed task
to_do_list.remove("clean the house")

#checking if a task in the list

if "pay bill" in to_do_list:
    print("Don't forget to pay the utility bills")

print("To do list remaining")

for task in to_do_list:
    print(f"-{task}")

Don't forget to pay the utility bills
To do list remaining
-Buy Groceries
-pay bill
-Schedule meeting
-Go for run

In [6]:
#create a list to store and calculate avg grade of student
grades = [85,92,78,90,88]

grades.append(95)

average_grade = sum(grades)/len(grades)
print(f"Average Grade:{average_grade:.2f}")

highest_grade = max(grades)
lowest_grade = min(grades)

print(f"highest grade: {highest_grade}")
print(f"lowest grade : {lowest_grade}")

Average Grade:88.00
highest grade: 95
lowest grade : 78

In [9]:
inventory = ["apple","orange","gapes","strawberries"]

inventory.append("banana")

inventory.remove("banana")

item  = "orange"

if item in inventory:
    print(f"{item} are in stock")

else:
    print(f"{item} are out of stock")

print("inventory list")

for item in inventory:
    print(f"-{item}")

orange are in stock
inventory list
-apple
-orange
-gapes
-strawberries

In [ ]:
#collecting user feedback
feedback = ["Great service!","very satisfied","could be better","excellent experience"]

feedback.append("not happy with the service")
positive_feedback_count = sum(1 for comment in feedback if "great" in comment.lower() or "excellent" in comment.lower())
print(f"Positive feedback count : {positive_feedback_count}")

print("user feedback :")
for comment in feedback:
    print(f"-{comment}")

Positive feedback count : 2
user feedback :
-Great service!
-very satisfied
-could be better
-excellent experience
-not happy with the service

: