In [ ]:
1+1

2

In [1]:
#indentation
age = 30
if age == 30:
    print(age)

30

## line continuation
total = 1+2+3+4+5+6+7+\
4+5+6
print(total)

In [2]:
## line continuation
total = 1+2+3+4+5+6+7+\
4+5+6
print(total)

43

In [ ]:
#multiple statement on a single line
x = 5;y=10;z=x+y
print(z)

15

In [4]:
#semantics in python
#variable assignment
age = 32
name = "tejas"

In [12]:
type(age)
type(name)

str

In [13]:
##code example of inderntaion

if True:
    print("correct identation")
    if False:
        print("this not print")
    print("this will print")
print("outside the if block")

correct identation
this will print
outside the if block

In [14]:
#variable in python
#used to store data
age = 32
height = 5.10
name = "vikas"
is_student = True

print("age :",age)
print("height :",height)
print("Name :",name)

age : 32
height : 5.1
Name : vikas

In [15]:
#naming convension
name = "tejas"
Name = "tejas"

name == Name

True

In [16]:
height = str(5.6)
print(type(height))

<class 'str'>

In [20]:
heigh = 5.11
type(heigh)
int(heigh)
float(int(heigh))

5.0

In [21]:
var = 10
print(var,type(var))

10 <class 'int'>

In [22]:
age = input("what is the age :")
print(age,type(age))

23 <class 'str'>

In [23]:
#simple calculator
num1 = float(input("enter first number :"))
num2 = float(input("enter second number :"))
num3 = float(input("enter third number :"))

sum = num1 + num2
diff = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("sum :",sum)
print("difference :",diff)
print("Product :",product)
print("Quotient :",quotient)

sum : 49.4
difference : 1.0
Product : 609.8399999999999
Quotient : 1.0413223140495869

In [ ]:
#data types
#integers
age = 35
type(age)

int

In [3]:
#float 
num = 3.4
print(type(num))

<class 'float'>

SyntaxError: invalid syntax (3506042805.py, line 1)

In [5]:
name = "tejas"
print(type(name))

<class 'str'>

In [8]:
#booleAprint
is_true = True
print(is_true)
type(is_true)

True

bool

In [10]:
bool()
a = 10
b = 10

a==b

True

In [11]:
#type castinf
result = "hello" + str(5)
print(result,type(result))

hello5 <class 'str'>

operators

In [16]:
#arithmetic operatio
a = 10
b = 5
add_result = a + b  #addition
sub_result = a - b #substraction
mult_result = a * b #multiplication
div_result = a/b  #division
floor_div_result = a//b #floor  div
modulus_div_result = a % b #modulus
exponent_result = a**b #exponentiation

print(add_result)
print(sub_result)
print(mult_result)
print(div_result)
print(floor_div_result)
print(modulus_div_result)
print(exponent_result)

15
5
50
2.0
2
0
100000

In [29]:
#comparison operators
# ==
a = 10
b = 18
a==b

#not equal to 
#!=
a != b

#greate than
num1 = 45
num2 = 55
num1>num2

#less than
num1<num2

#greater than or equal to
number1 = 45
number2 = 45
number1>=number2

#less than or equal to
number1 <= number2

value1 = 3
value2 = 2
value1 >= value2

True

In [32]:
#logical operation
#And Aot or

x = True
y = True
result = x and y 
print(result)

x = True
y = False
result = x and y 
print(result)

True
False

In [33]:
#or operation
x = True
y = False
result = x or y
print(result)

True

In [ ]:
#not operator -- inverse of boolean var
x = True
not x

False

In [1]:
#conditional statement
#if
age = 20

if age >= 18:
    print("you are allow to vote in the election")

you are allow to vote in the election

In [2]:
age >= 18

True

In [3]:
#else

age = 16

if age > 18:
    print("you are eligible for voting")

else:
    print("you are a minor")

you are a minor

In [7]:
#elif statement
age = 17

if age < 13:
    print("you are a child")
elif age <18:
    print("you are teenager")
else:
    print("hey you are an adult")

you are teenager