In [ ]:
#function
#syntax

def even_or_odd(num):
    """This function performs even or odds"""
    if num%2==0:
        print(f"{num} :number is even ")
    else:
        print(f"{num} :number is odd")


even_or_odd(23)

23 :number is odd

:

In [2]:
def add_num(a,b):
    return a+b 

add = add_num(2,4)
print(add)

6

In [6]:
#default parameters

def greet(name):
    print(f"hello ! {name} welcome to the paradise")

greet("tejas")

hello ! tejas welcome to the paradise

In [ ]:
#default value
def greet(name="guest"):
    print(f"hello ! {name} welcome to the paradise")

greet()

In [8]:
#variable and lenght argument
#positional and keyword arguments

def print_number(*args):
    for number in args:
        print(number)


print_number(1,2,3,4,5,6,7,8,"tejas","chavan")

1
2
3
4
5
6
7
8
tejas
chavan

In [ ]:
#keyword argument

def print_detail(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")

print_detail(name="tejas",age ="32",country = "India")

name:tejas
age:32
country:India

In [12]:
def print_detail(*args,**kwargs):
    for val in args:
        print(f"positional argument : {val}")

    for key,value in kwargs.items():
           print(f"{key}:{value}")

print_detail(1,2,3,4,"tejas",name="tejas",age ="32",country = "India")

positional argument : 1
positional argument : 2
positional argument : 3
positional argument : 4
positional argument : tejas
name:tejas
age:32
country:India

In [15]:
#return statement

def multiply(a,b):
    return a *b

multiply(2,3)

6

In [ ]:
#return multiple parameter

def multiply(a,b):
    return a *b,a,b

multiply(2,3)

In [4]:

#function example

#temprature conversion
def convert_temprature(temp,unit):
    """This function converts temprature between celsius to fahrenheit"""
    if unit == "C":
        return temp * 9/5 + 32    #celsius to Fahrenheit
    
    elif unit == "F":
        return (temp - 32) * 5/9   #fahrenheit to celsius
    
    else:
        return None
    
print(convert_temprature(25,"C"))
print(convert_temprature(77,"F"))

77.0
25.0

In [7]:
#password strengh checker

def is_strong_pass(password):
    """This function check if password is strong or not"""
    if len(password) < 8:
        return False
    if not any(char.isdigit() for char in password):
        return False
    if not any(char.islower() for char in password):
        return False
    if not any(char.isupper() for char in password):
        return False
    if not any(char in "12345678()" for char in password):
        return False
    
    return True

print(is_strong_pass("WeakPwd"))
print(is_strong_pass("Tejas@180803"))

False
True

calculate the total cost of item in a shopping cart

In [11]:
def calculate_total_cost(cart):
    total_cost = 0
    for item in cart:
        total_cost += item["price"] * item["quantity"]

    return total_cost

#example cart data

cart = [{"name":"apple","price":0.5,"quantity":4},
        {"name":"banana","price":0.3,"quantity":6},
        {"name":"Orange","price":0.7,"quantity":3}
]


total_cost = calculate_total_cost(cart)
print(total_cost)

calculate_total_cost(cart = [{"name":"apple","price":0.5,"quantity":4},
        {"name":"banana","price":0.3,"quantity":6},
        {"name":"Orange","price":0.7,"quantity":3}])

5.8999999999999995

5.8999999999999995

check if a string is palindrome

In [16]:
def is_palindrome(s):
    s=s.lower().replace(" ","")
    return s==s[::-1]

print(is_palindrome("A man a plan a canal Panama"))
print(is_palindrome("heleh"))

True
True

In [1]:
#calculate the factorial of a number using recursion

def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
    
print(factorial(5))
print(factorial(6))
factorial(3)

120
720

6

In [6]:
def count_word_frequency(file_path):
    word_count = {}
    with open(file_path,'r') as file:
        for line in file:
            words = line.split()
            for word in words:
                word = word.lower().strip('.,!?;:"\'')
                word_count[word] = word_count.get(word,0)+1

    return word_count

file_path = "C:/Users/Tejas/Desktop/Machine learning and deep learning/sample.txt"
word_frequency = count_word_frequency(file_path)
print(word_frequency)

{'hello': 1, 'world': 1, 'how': 1, 'are': 1, 'you': 1, 'my': 1, 'name': 1, 'is': 1, 'krish': 2}

lambda function

In [7]:
#syntax
lambda arguments : expression

In [9]:
addition  = lambda a,b : a + b
type(addition)
print(addition(2,4))

6

In [10]:
def even(num):
    if num%2==0:
        return True
even(24)

True

In [11]:
even1 = lambda num:num%2==0
even1(12)

True

In [12]:
sum1 = lambda x,y,z:x+y+z
print(sum1(12,12,12))

36

In [13]:
##map()
numbers = [1,2,3,4,5,6]
def square(number):
 
    return number **2

square(2)

4

In [15]:
list(map(lambda x : x**2,numbers))

[1, 4, 9, 16, 25, 36]

In [16]:
list(map(lambda x:x**3,numbers))

[1, 8, 27, 64, 125, 216]

Map

In [19]:
numbers = [1,2,3,4,5,6]
list(map(square,numbers))

[1, 4, 9, 16, 25, 36]

In [21]:
#lambda function with map
numbers = [1,2,3,4,5,6,7]
list(map(lambda x:x**2,numbers))

[1, 4, 9, 16, 25, 36, 49]

In [2]:
#map multiple iterable

number1 = [1,2,3]
number2 = [4,5,6]

added_number = list(map(lambda x,y:x+y,number1,number2))
print(added_number)

[5, 7, 9]

In [7]:
#map() to convert a list of string to int

int_number = ['1','2','3','4','5']
int_number = list(map(int, int_number) )
print(int_number)
print(type(int_number))

[1, 2, 3, 4, 5]
<class 'list'>

In [15]:
def get_name(people):
    return people['name'] ,people['age']

people = [{'name':'tejas','age':21},
          {'name':'vinit','age':22}]

list(map(get_name,people))

[('tejas', 21), ('vinit', 22)]

In [11]:
def squares(num):
    return num **2

num = [1,2,3,4,5]
list(map(squares,num))

[1, 4, 9, 16, 25]

filter function

In [40]:
def even(x):
    return x % 2 == 0

lst1 = [1, 2, 3, 4, 5, 6, 7, 8]
print(list(filter(even, lst1)))

TypeError: 'filter' object is not callable

NameError: name 'even1' is not defined